{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Impots {% endblock %}

{% block body %}
        <h1 class="title is-1">Impots</h1>
        <div id="app-impots">

        </div>
{% endblock %}

