includes:
    - phpstan-baseline.neon

parameters:
    level: 8
    paths:
        - bin/
        - config/
        - migrations/
        - public/
        - src/
        - tests/

    symfony:
        containerXmlPath: %rootDir%/../../../var/cache/dev/App_KernelDevDebugContainer.xml
    scanDirectories:
       - var/cache/dev/Symfony/Config
