

<section class="section column">
    <h2 class="title">Ports</h2>
    <ul>
        <li><a href="http://127.0.0.1:8089" target="_blank">adminer  (8089)</a></li>
        <li><a href="http://127.0.0.1:5601" target="_blank">kibana  (5601)</a></li>
        <li><a href="http://127.0.0.1:15673" target="_blank">rabbitmq  (15673)</a></li>
        <li><a href="http://127.0.0.1:5678" target="_blank">n8n  (5678)</a></li>
        <li><a href="http://127.0.0.1:1180" target="_blank">maildev  (1180)</a></li>
        <li><a href="http://127.0.0.1:9002" target="_blank">minio  (9002)</a></li>
    </ul>
</section>
