<section class="section column">
    <h2 class="title">Todo</h2>
    <ul>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Calculateur Impots
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Where is ISS
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Recherche elasticsearch
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Tester CI/CD
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Mercure
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                test / panther
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                symfony workflow
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Rabbit MQ
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Redis
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox">
                Matomo
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Mailhog / Mail Dev
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                N8n
            </label>
        </li>
        <li>
            <label class="checkbox">
                <input type="checkbox" checked>
                Minio
            </label>
        </li>
    </ul>
</section>
