{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Chart {% endblock %}

{% block body %}
    <h1 class="title is-1">Chart</h1>
{#    <div data-controller="hello"></div>#}

{#    {{ render_chart(chart, {'class': 'my-chart'}) }}#}
    {{ render_chart(chart, {'data-controller': 'mychart'}) }}
{% endblock %}
