{% extends 'base.html.twig' %}
{% form_theme form 'form/chef_oeuvre_theme.html.twig' %}

{% block title %} {{ parent() }} | Overkill{% endblock %}

{% block body %}

<section class="section">
    <h1 class="title is-1">Overkill ✅</h1>

{#    {{ form(form) }}#}

    {{ form_start(form) }}

    {{ form_end(form) }}


</section>
{% endblock %}
