{% extends 'base.html.twig' %}

{% block title %} {{ parent() }} | Overkill{% endblock %}

{% block body %}

<section class="section">
    <h1 class="title is-1">Overkill ✅</h1>

    {{ form(form) }}
</section>
{% endblock %}
